<div class="container">
  <app-header></app-header>
  <div class="slideShow">
    <div class="slides"></div>
  </div>
  <hr>
  <div class="content">
    <div class="leftSide">
      <div class="boss">
        <h3>Forduljon hozzánk bizalommal!</h3>
        <div class="josi" [ngStyle]="profilePicture"></div>
      </div>
      <div class="kapcsolat">
        <h3>Kapcsolat:</h3>
        <p>Tel: 06/30 000 000</p>
        <p>e-mail: jozsi@jozsi.hu</p>
        <p>cím: Balinka</p>
        <a href="https://www.facebook.com/jozsef.schweighardt.39" target="blank" class="icon"><div class="facebook kapcsIcon"></div></a>
        <a href="https://www.google.com/intl/hu/gmail/about/" target="blank" class="icon"><div class="gmail kapcsIcon"></div></a>
      </div>
    </div>
    <div class="introduction">
      <h2>Live Art Design</h2> 
      <p class="margo">A 2018-ban megalakult a Live Art Design – csapatunk szakértelmével, pontosságával, precizitásával 
        új fényt, új korszakot viszünk a magyar bútor iparda, hogy visszanyerjük az asztalos ipar tekintélyét, 
        határidők betartásával és olyan minőségi (angol, svájci technológiák alkalmazásával) munkák kivitelezésével, 
        ami eddig a magyar piacon nem igazán volt jelen. Célunk, hogy ne kelljen külföldről irodabútorokat, 
        konyhákat stb. importálni, hanem helyben elérhető árakon, személyre szabottan hozzájuthasson mindenki 
        álmai minőségi bútoraihoz.
      </p>
      <h4 class="margo">MIT KÉPVISEL A Live Art Design</h4>
      <ul>
        <li>Mindenre kitérő kivitelezés</li>
        <li>Kiváló minőséget</li>
        <li>Kedvező árakat</li>
        <li>Pontosságot és rugalmasságot</li>
      </ul>
      <p class="margo">Korszerű, asztalos műhelyünkkel, folyamatos fejlesztéssekkel és kiváló, csak szakemberekből álló csapatunkkal 
        sikeresen hajtjuk végre a legkülönfélébb feladatokat az épületasztalosságtól az egyedi bútorgyártásig.
        Csapatunk jól képzett belsőépítészekből, lakberendezőkből illetve faipari szakemberekből áll akik korlátokat nem 
        ismerve minden kihívást sikeresen megoldanak az egyszerű kis terek helytakarékos megoldásairól legyen szó vagy akár
        a legkülönbféle luxus megoldásokról.
      </p>
      <h4 class="margo">SZOLGÁLTATÁSOK</h4>
      <ul>
        <li>ÉPÜLETASZTALOS MUNKÁK KIVITELEZÉSE.</li>
        <li>IRODABÚTOR TERVEZÉS, KIVITELEZÉS.</li>
        <li>MAGÁNLAKÁSOK, HÁZAK - FELMÉRÉST KÖVETŐEN 3D TERVEZÉS IGÉNY ESETÉN TELJES KÖRŰ LAKBERENDEZÉSI TANÁCSADÁS.</li>
        <li>MAGÁNLAKÁSOK, HÁZAK - EGYEDI BÚTORGYÁRTÁS, SZERELÉS.</li>
      </ul>
    </div>
  </div>
</div>
